.album {
  position: relative;
  top: 150px;
}
.albumvisual {
  margin: 0px 40px;
  width: 600px;
  height: 700px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  position: relative;
  float: left;
}
.slider {
  width: 480px;
  height: 480px;
  position: relative;
  margin: 60px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}
.albumimage {
  width: 100%;
  height: 100%;
}
.albumtitle {
  font-family: "cabin";
  font-size: 20px;
  text-align: center;
  position: relative;
  color: black;
}
.albumplaylist {
  font-family: "cabin", "meiryo";
  color: black;
  font-size: 20px;
  position: relative;
  float: left;
  width: 700px;
  height: 700px;
  position: relative;
  left: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
.albumtrack {
  height: 640px;
  overflow-y: scroll;
  float: left;
  position: relative;
  top: 30px;
  left: 30px;
}
.albumtrack::-webkit-scrollbar {
  display: none;
}
table {
  border-collapse: collapse;
}
a {
  color: black;
  text-decoration: none;
}
.music {
  float: left;
  display: flex;
  width: 640px;
  height: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.number {
  width: 20px;
  text-align: center;
  position: relative;
  float: left;
  padding: 10px;
}
.title {
  width: 510px;
  position: relative;
  float: left;
  top: 15px;
  padding: 10px;
}
.time {
  width: 30px;
  position: relative;
  float: left;
  padding: 10px 20px;
}
html::-webkit-scrollbar {
  display: none;
}
