html {
  font-family: "cabin", "meiryo", "pretendardlight";
}
.main {
  position: relative;
  margin-top: 150px;
}
.middle {
  position: relative;
  display: flex;
  padding-bottom: 150px;
  width: 1500px;
}
.musics {
  position: sticky;
  display: block;
  width: 550px;
  top: 150px;
  height: auto;
  max-height: 500px;
}
.scroll {
  overflow-y: hidden;
  height: 600px;
}
.scroll:hover {
  overflow-y: auto;
}
.mvvisual {
  margin: 30px;
  margin-top: 0px;
  width: 480px;
  height: 270px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.mvideo {
  width: 480px;
  height: 270px;
  border-radius: 10px;
  border: none;
}
.musicvisual {
  margin: 30px;
  margin-top: 0px;
  width: 480px;
  height: 480px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.musicvis {
  width: 480px;
  height: 480px;
  border-radius: 10px;
  border: none;
}
.lyricsbase {
  position: relative;
  left: 100px;
  width: 800px;
  min-height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  line-height: 20px;
  transition-duration: 1s;
}
.lyrics {
  width: 700px;
}
.lyricstext {
  height: 20px;
  text-align: center;
  position: relative;
}
.tools {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.tools.singlemode {
  justify-content: center;
}
.album,
.single {
  position: relative;
  width: 500px;
  min-height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.albumtitle,
.singletitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 70px;
  margin: auto;
  border-radius: 10px 10px 0 0;
}
.titleimage {
  width: 120px;
  margin: 0px auto;
}
.date {
  position: relative;
  margin: 10px auto;
  text-align: center;
}
.albummusics {
  margin: auto;
  text-align: center;
}
table {
  margin: auto;
  border-collapse: collapse;
  transition-duration: 1s;
}
.tooltd {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  border-bottom: 0px;
  border-collapse: collapse;
  text-align: center;
}
.tooltr :first-child {
  width: 30px;
  border-left: 0px;
}
.tooltr :nth-child(2) {
  width: 470px;
  border-right: 0px;
}
html :visited {
  color: black;
  text-decoration-line: none;
}
html :link {
  color: black;
  text-decoration-line: none;
}
.bold {
  font-weight: bold;
}
summary {
  text-align: center;
  cursor: pointer;
}
details {
  margin: 10px;
}
details[open] summary ~ * {
  animation: "open" 0.5s ease-in-out;
}

details[close] summary ~ * {
  animation: "close" 0.5s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes close {
  0% {
    opacity: 1;
    margin-top: 0px;
  }
  100% {
    opacity: 0;
    margin-top: -20px;
  }
}
