html {
  font-family: "cabin", "meiryo";
}
.physicallist {
  position: relative;
  width: 1500px;
  left: 50px;
  top: 150px;
  display: flex;
}
.physicalbase {
  display: flex;
  align-items: flex-end;
  position: relative;
  transition-duration: 0.25s;
  float: left;
}
.physicalimage {
  float: left;
  width: 50px;
  transition: 0.5s;
  border: 1px rgba(0, 0, 0, 0.1) solid;
}

.physicalbase:hover {
  transform: scale(110%, 110%);
  z-index: 1;
}
.checklist {
  width: 500px;
  min-height: 500px;
  position: relative;
  float: right;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  border-radius: 30px;
  margin: 50px;
}
.checkbase {
  margin: 30px;
  float: left;
}
html::-webkit-scrollbar {
  display: none;
}
html {
  overflow-x: hidden;
}
