.base {
  /*상단메뉴 기본 배경*/
  width: 100%;
  height: 100px;
  border: 1px solid transparent;
  border-radius: 0px 0px 20px 20px;
  margin: 0px;
  background-color: rgba(226, 217, 174, 0.7);
  float: left;
  top: 0px;
  left: 0px;
  position: fixed;
}
.homebutton {
  /*상단메뉴 홈버튼*/
  position: fixed;
  top: 20px;
  left: 20px;
  float: left;
  padding: 5px;
  border-radius: 50%;
  background-color: transparent;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.homebutton:hover {
  /*상단메뉴 홈버튼 마우스 올렸을 때*/
  background-color: rgba(66, 143, 155, 0.1);
}
.namebase {
  /*상단메뉴 텍스트 배경*/
  position: relative;
  width: 200px;
  height: 70px;
  top: 10px;
  left: 100px;
  float: left;
  background-color: transparent;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.namebaseborder {
  /*상단메뉴 텍스트 보더*/
  position: relative;
  width: 200px;
  height: 50px;
  top: 10px;
  border-width: 0px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: transparent;
}
.namebase:hover {
  /*상단메뉴 텍스트 배경에 마우스 올릴 시 강조*/
  background-color: rgba(66, 143, 155, 0.1);
}
.textbase {
  /*상단메뉴 텍스트 기본값*/
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  font-size: x-large;
  font-family: "cabin";
}
.searchbarbase {
  background-color: white;
  position: relative;
  top: 20px;
  left: 150px;
  width: 400px;
  height: 50px;
  float: left;
  border-radius: 25px;
}
.searchbuttonbase {
  position: relative;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  float: right;
  border-radius: 50%;
}
.searchbuttonbase:hover {
  /*상단메뉴 텍스트 배경에 마우스 올릴 시 강조*/
  background-color: rgba(66, 143, 155, 0.1);
}
.searchbutton {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 25px;
  float: right;
}
a:link {
  /*링크 텍스트 변환 방지*/
  text-decoration: none;
  text-decoration-color: black;
}
